<router-outlet></router-outlet>
<!--app-login></app-login-->
<!--<div class="container-fluid custom-container">
  <div class="row">
    <div class="col-lg-12">
      <app-navbar></app-navbar>
    </div>

  </div>
  <div class="row">
    <div class="col-md-8">
      <app-user-list></app-user-list>
    </div>
    <div class="col-sm-4">
      
      <app-user-add></app-user-add>
    </div>

  </div>

</div>-->


<!--<div class = "info"  *ngFor="let emp of employee">
  <div class="emp_info" >
    <p *ngIf="emp.salary>30000">***</p>
    <p *ngIf="emp.salary>=20000 && emp.salary<30000 ">**</p>
    <p *ngIf="emp.salary>=10000 && emp.salary<20000">*</p>
    <p>Name:{{emp.name}}</p>
    <p>salary:{{emp.salary}}</p>
    <p>Email:{{emp.email}}</p>
  </div>
</div>-->

